@import "@material/theme/mdc-theme";
@import "@material/textfield/mdc-text-field";
@import "@material/button/mdc-button";
@import "@material/form-field/mdc-form-field";
@import "@material/checkbox/mdc-checkbox";
@import "@material/radio/mdc-radio";

html {
    background-color: white;
    height:100%;
}

nav {
    max-width: 960px;
    margin: auto;
}

nav ul {
    text-align: center;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    padding: 18px;
    font-family: 'Roboto', sans-serif;
    text-transform:uppercase;
    color: black;
    font-size: 18px;
    text-decoration: none;
    display: block;
}

nav ul li a:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.1);
    color: #ffcd00;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home").
Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
    nav a:not(:first-child), .dropdown .dropbtn {
        display: none;
    }
    nav a.icon {
        float: right;
        display: block;
    }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon.
This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
    nav.responsive {position: relative;}
    nav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    nav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    nav.responsive .dropdown {float: none;}
    nav.responsive .dropdown-content {position: relative;}
    nav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
    }
}

body {
    color: black;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
    min-height: 100vh;
    text-align: left;
}

footer {
    color: black;
    text-align: center;
    width: 100%;
}

footer > p {
    padding: 16px 0;
}

p a {
    color: white;
    text-decoration: none;
}

.container {
    flex: 1;
    margin: 0 16px;
}

.gold {
    color: #ffcd00;
}

.selected {
    pointer-events: none;
    cursor: default;
    color: #ffcd00;
}

.imgbox {
    background-color: black;
    display: grid;
    height: 100%;
}

.center-fit {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}

.rule {
    width: 100%;
    border-bottom: 1px solid #ccc;
    margin: 0 0 15px 0;
}

.black-link {
    color: black;
    font-weight: bold;
}

.center {
    text-align: center;
}

.nav-image {
    max-width: 100%;
    max-height: 8vh;
    margin: auto;
    object-fit: cover;
}

/* Stuff added for dropdown */

/* Style the dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background: rgba(255, 255, 255, 0.1);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Style the links inside the dropdown */
.dropdown-content a {
    float: none;
    color: #ffcd00;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a dark background on topnav links and the dropdown button on hover */
.topnav a:hover, .dropdown:hover .dropbtn {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.1);
    color: black;
}

/* Add a grey background to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
    color: black;
}

/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown:hover .dropdown-content {
    display: block;
}

.wedding-party {
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.party-member {
    flex: 1 0 21%;
    margin: 5px;
}

.party-member img {
    display: block;
    margin: auto;
    max-height: 60%;
    width: auto;
}

.hotel-list {
  margin-left: 32px;
}

.rsvp-form {
  width: 80%;
}

.rsvp-field {
  width: 75%;
  margin: 8px auto;
}

.radio-title {
  text-align: left;
  width: 75%;
}

.full-rsvp-form {
  display: none;
}

#diet-restriction {
  position: relative;
  display: none;
}

.button-container {
  display: flex;
  justify-content: center;
  width: 300px;
  margin: auto;
}

.button-container button {
  margin: 3px;
}

#wedding-timer {
    font-size: 4.5em;
    margin: 0 0 16px 0;
}

#index-left {
    float: left;
    width: 75%;
}

#index-left > p {
    margin: auto;
    text-align: left;
    width: 95%;
}

#index-right {
    float: right;
    width: 25%;
}

#fiftyfifty-left {
    border-right: 1px solid black;
    display: inline-block;
    float: left;
    margin: 32px auto;
    text-align: center;
    width: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#fiftyfifty-left > p {
    margin: auto;
    width: 90%;
}

#fiftyfifty-right {
    border-left: 1px solid black;
    display: inline-block;
    float: right;
    margin: 32px auto;
    text-align: center;
    width: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#fiftyfifty-right > p {
    margin: auto;
    width: 90%;
}
