<!DOCTYPE html>
<html>
<% include templates/head %>
<body>
    <% include templates/nav %>
    <div class="container">
        <div class="imgbox">
            <img src="/assets/images/church.jpg" alt="Chapel Hill" class="center-fit">
        </div>

        <h1>Hotel Options</h1>
        <% include templates/hotel %>
    </div>
    <% include templates/footer %>
</body>
</html>
