<!DOCTYPE html>
<html>
<% include templates/head %>
<body>
    <% include templates/nav %>
    <div class="container">
        <div class="imgbox">
            <a href="https://thehillbc.com"><img src="/assets/images/church.jpg" alt="Chapel Hill" class="center-fit"></a>
        </div>

        <h1>Details</h1>
        <p>
            Chapel Hill United Methodist Church<br>
            157 Chapel Hill Dr.<br>
            Battle Creek, Michigan 49015
        </p>
        <p>June 21, 2019</p>
        <p>5:00pm</p>

        <div id="fiftyfifty-left">
            <h2>Bridal Party</h2>
            <p>
                Lorem Khaled Ipsum is a major key to success. Mogul talk. Don’t ever play yourself. Don’t ever play yourself. Celebrate success right, the only way, apple. The weather is amazing, walk with me through the pathway of more success. Take this journey with me, Lion! Don’t ever play yourself. Surround yourself with angels. Cloth talk. Surround yourself with angels, positive energy, beautiful people, beautiful souls, clean heart, angel. The key to more success is to get a massage once a week, very important, major key, cloth talk.

                You do know, you do know that they don’t want you to have lunch. I’m keeping it real with you, so what you going do is have lunch. Watch your back, but more importantly when you get out the shower, dry your back, it’s a cold world out there. You smart, you loyal, you a genius. The other day the grass was brown, now it’s green because I ain’t give up. Never surrender. Life is what you make it, so let’s make it.
            </p>

        </div>

        <div id="fiftyfifty-right">
            <h2>Groomsmen</h2>
            <p>
                Lorem Khaled Ipsum is a major key to success. Mogul talk. Don’t ever play yourself. Don’t ever play yourself. Celebrate success right, the only way, apple. The weather is amazing, walk with me through the pathway of more success. Take this journey with me, Lion! Don’t ever play yourself. Surround yourself with angels. Cloth talk. Surround yourself with angels, positive energy, beautiful people, beautiful souls, clean heart, angel. The key to more success is to get a massage once a week, very important, major key, cloth talk.

                You do know, you do know that they don’t want you to have lunch. I’m keeping it real with you, so what you going do is have lunch. Watch your back, but more importantly when you get out the shower, dry your back, it’s a cold world out there. You smart, you loyal, you a genius. The other day the grass was brown, now it’s green because I ain’t give up. Never surrender. Life is what you make it, so let’s make it.
            </p>
        </div>

        <!-- Div to clear the 50/50 spilt of the divs above  -->
        <div style="clear:both"></div>
    </div>
    <% include templates/footer %>
</body>
</html>
