<!DOCTYPE html>
<html>
<% include templates/head %>
<body>
    <% include templates/nav %>
    <div class="container">
        <h1 class="center">There was an error saving your RSVP. Please try again later.</h1>
    </div>
    <% include templates/footer %>
</body>
</html>
