<!DOCTYPE html>
<html>
<% include templates/head %>
<body>
    <% include templates/nav %>
    <div class="container">
        <h1>RSVP SUCCESSFUL!!!!</h1>
    </div>
    <% include templates/footer %>
</body>
</html>
