<!DOCTYPE html>
<html>
<head>
  <% include templates/head %>
</head>
<body>
  <% include templates/nav %>
  <div class="container">
  </div>
  <footer>
    <% include templates/footer %>
  </footer>
</body>
</html>
