<!DOCTYPE html>
<html>
<% include templates/head %>
<body>
  <% include templates/nav %>
  <div class="imgbox">
      <img src="/assets/images/proposal.jpg" alt="Proposal" class="center-fit">
  </div>
  <div class="container">
    <h2>The Wedding of Colin Brevitz and Samantha Stein takes place in</h2>
    <h1 id="wedding-timer"></h1>
  </div>
  <% include templates/footer %>
  <script type='text/javascript' src='/scripts/timer.js'></script>
</body>
</html>
