<!DOCTYPE html>
<html>
<% include templates/head %>
<body>
    <% include templates/nav %>
    <% include templates/carousel %>

    <div class="container">
        <div id="index-left">
            <h2>About The Couple</h2>
            <h4><b><i>What Is Your Favorite Thing About Colin?</i></b></h4>
            <p>
              To pick just one thing that’s my favorite is impossible. There’s easily a million reasons why I love him. I think what initially drew me towards him and made me fall in love is his ability to be extremely confident in himself and the ones he loves. He has this way of convincing me that everything’s okay on the worst of days.
I’ve spent a lot of time trying to figure out what I want to do with my life. Whether it was trying to find a job, school or figuring out my physical and mental health, Colin’s been nothing but supportive and confident that I’m capable and deserving of anything I want. He lets me be me, even if it’s an ugly version of me. And he loves me at the end of the day, no matter what.
<br><br>
I honestly have nothing but love and admiration for Colin. He’s my best friend, my support system, and my love. I know he loves me deeply and unconditionally. That’s my favorite thing about him - he loves me and wants me to be happy.
            </p>

            <h4><b><i>What Is Your Favorite Thing About Samm?</i></b></h4>
            <p>
              Samm is a perfect example of the complexity that is a human being. She can be kind, gentle, and loving when she needs to, but also strong, assertive, and determined. She's one of the strongest women I've ever met. She's not afraid to live how she wants.
              <br><br>
              I remember seeing her the first time, and wondered what a girl with such a punk rock vibe was doing in a pep band at an engineering school. That was just the beginning. Samm isn't afraid to break norms and challenge social convention. She is supportive and caring on the days when I'm not 100%. She easy to talk to, and will go out of her way to help a person.
              Samm is the person that I want to do everything with.
            </p>

        </div>

        <div id="index-right">
            <h2>Samantha Stein and Colin Brevitz get married in</h2>
            <h4 id="wedding-timer"/>
        </div>

        <!-- Div to clear the spilt of the divs above  -->
        <div style="clear:both"></div>

        <div>
            <h2>Introducing the Wedding Party</h2>
            <% include templates/wedding-party %>
        </div>
        <% include templates/footer %>
    </div>
    <script type='text/javascript' src='/scripts/timer.js'></script>
    <script type='text/javascript' src='/scripts/glide.min.js'></script>
    <script type='text/javascript' src='/scripts/carousel.js'></script>
</body>
</html>
