<!DOCTYPE html>
<html>
<% include templates/head %>
<body>
    <% include templates/nav %>
    <div class="container">
        <div class="imgbox">
            <a href="https://thehillbc.com"><img src="/assets/images/church.jpg" alt="Chapel Hill" class="center-fit"></a>
        </div>

        <div id="fiftyfifty-left">
            <h1>Ceremony</h1>

            <p>June 21, 2019</p>
            <p>5:00pm</p>
            <br>

            <p><b>Chapel Hill United Methodist Church</b></p>
            <p>157 Chapel Hill Drive</p>
            <p>Battle Creek, Michigan, 49015</p>
        </div>

        <div id="fiftyfifty-right">
            <h1>Reception</h1>

            <p>June 21, 2019</p>
            <p>6:30pm</p>
            <br>

            <p><b>Bedford Valley Golf Club</b></p>
            <p>23161 Waubascon Road</p>
            <p>Battle Creek, Michigan, 49017</p>
        </div>

        <!-- Div to clear the 50/50 spilt of the divs above  -->
        <div style="clear:both"></div>

        <div class="center">
            <h3><b><i>Dress Code</i></b></h3>
            <br>
            <p>Semi-Formal Attire:</p>
            <p>Suits, sport coats, and dress pants</p>
            <p>Knee length dress, blouse, and skirt/dress pants</p>
            <br>
            <p>Note that the ceremony and reception will be taking place indoors.</p>
            <p>The bride requests guests refrain from wearing white dresses</p>
        </div>\

        <br>

        <div class="center">
            <h3><b><i>The Menu</i></b></h3>
            <p>A sit down dinner will be served at the reception</p>
            <br>
            <p>Choices include:</p>
            <p>Nom-Nom 1</p>
            <p>Nom-Nom 2</p>
            <br>
            <p>Please note on your RSVP if you have any dietary restictions,</p>
            <p>as the bride and groom will happily accommodate to assure</p>
            <p>we all get to enjoy dinner and desserts!</p>
        </div>
    </div>
    <% include templates/footer %>
</body>
</html>
