<!DOCTYPE html>
<html>
<head>
  <% include templates/head %>
</head>
<body>
  <% include templates/nav %>
  <div class="container">
    <h1>Location</h1>
    <p>The wedding ceremony will be held at Chapel Hill United Methodist Church,<br>located at<br>
      157 Chapel Hill Dr,<br>
      Battle Creek, MI, 49015
    </p>
  </div>
  <% include templates/footer %>
</body>
</html>
