<!DOCTYPE html>
<html>
<% include templates/head %>
<body>
    <% include templates/nav %>
    <div class="container">
        <div class="imgbox">
            <a href="https://www.gulllakeview.com/golf/golf-courses/bedford-valley/"><img src="/assets/images/BedfordClubhouse.jpg" alt="Bedford Valley" class="center-fit"></a>
        </div>

        <h1>Details</h1>
        <p>
            Bedford Valley Golf Course<br>
            23161 Waubascon Road<br>
            Battle Creek, Michigan 49017
        </p>
        <p>June 21, 2019</p>
        <p>7:00pm</p>
    </div>
    <% include templates/footer %>
</body>
</html>
