<!DOCTYPE html>
<html>
<% include templates/head %>
<body>
    <% include templates/nav %>
    <div class="container">
        <div class="imgbox">
            <img src="/assets/images/church.jpg" alt="Chapel Hill" class="center-fit">
        </div>

        <h3>Target</h3>
        <p><a href="https://tgt.gifts/stein-brevitz" class="black-link">tgt.gifts/stein-brevitz</a></p>
        <h3>Amazon</h3>
        <p><a href="https://amazon.com" class="black-link">link</a></p>
        <h3>Idk. Other things</h3>
    </div>
    <% include templates/footer %>
</body>
</html>
