<!DOCTYPE html>
<html>
<% include templates/head %>
<body>
    <% include templates/nav %>
    <div class="container">
        <div class="imgbox">
            <img src="/assets/images/registry.png" alt="Registry" class="center-fit medium-image">
        </div>

        <div class="center">
          <h2><a href="https://www.target.com/gift-registry/giftgiver?registryId=20e3c2b83b9442a3a3c26ae477f9fbf4&type=WEDDING" class="black-link">We are registered at Target!</a></h2>
      </div>
    </div>
    <% include templates/footer %>
</body>
</html>
