<nav>
    <ul>
        <li><a href="/about-us">About Us</a></li>
        <li><a href="/rvsp">RSVP</a></li>
        <li><a href="/">Home</a></li>
        <li><a href="/location">Location</a></li>
        <li><a href="/registry">Registry</a></li>
    </ul>
</nav>
